<!--SECCION EDUCACION--
<section class="educacion mt-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
          <br><br><br><br><img src="./../../assets/img/Educacion.png" alt="foto perfil" class=" " >
          <!-boton modifica imagen educacion->
          <button type="button" class="btn btn-close-black" data-bs-toggle="modal" data-bs-target="#foto-edu"><i class="fa-solid fa-pencil"></i>
          </button>
          <div class="modal fade" id="foto-edu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="foto-edu">Seleccione una nueva Imagen</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input class="form-control" type="file" id="foto-edu">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Agregar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--fin boton--
        <div class="col-9 ">
          <br><br><br><br><h4 class="mt-2" text-black>EDUCACION:</h4>
          
          <h5><br> Primaria – Esc. Nº 19 – Capital Federal
            <br><br>Polimodal con orientación en Ciencias Naturales – Esc. E.E.M.Nº 8 –
            Necochea.
            <br><br> Estudiante de programación Full Stack Jr. Argentina Programa 4.0
            <!--boton modificar educacion----
            <button type="button" class="btn btn-close-black" data-bs-toggle="modal" data-bs-target="#boton-edu"><i class="fa-solid fa-pencil"></i>
            </button>
              <div class="modal fade" id="boton-edu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="boton-edu">Educación</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <textarea class="form-control" placeholder="" id="boton-edu" style="height:100px;"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-warning">Modificar</button>
                      <button type="button" class="btn btn-success">Agregar</button>
                    </div>
                  </div>
                </div>
              </div>
              
          </h5>
        </div>
      </div>
    </div>
  </section>
<!-fin boton-->

<section class="educacion mt-5">
  <div class="container text-center">
    <div class="row mt-5">
      <div>
        <h3 style="text-decoration: underline; font-weight: bold;">Educacion</h3>
    
          <button type="button" class="btn btn-close-black mt-3" routerLink="/nuevaedu" *ngIf="isLogged">
           
            <h5> + Agregar</h5>
          </button>
          <div class="d-flex">
            <div class="col-3">
              <img src="./../../assets/img/Educacion.png"  alt="foto-edu" class="mt-5" style="max-width: 100%;">
            </div>
            <div class="row" mt="5">
            <div class="container">
              <div class="container">
            <tbody>
              <tr *ngFor="let Educacion of edu">
                <td>
                  <div class="mt-5">
                  <h4>{{Educacion.nombreE}}</h4>
                  </div>
                </td>
                <td>
                  <div class="mt-5">
                  <h6>{{Educacion.descripcionE}}</h6></div></td>
                <td *ngIf="isLogged">
                  <button class="btn btn-close-black mt-5" routerLink="/editedu/{{Educacion.id}}">
                    <i class="fa-solid fa-pencil"></i></button>
                </td>
                <td *ngIf="isLogged">
                  <button class="btn btn-close-black mt-5" (click)="delete(Educacion.id)">
                    <i class="fa-solid fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
              </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    </div>
  </section>
