<nav class="navbar navbar-expand-lg bg-violet">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
            <img src="./../../assets/img/argprog.png" alt="logo" class="w-150">
          </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.facebook.com/romina.figueroa.311/" target="_blank"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://twitter.com/romif1986" target="_blank"><i class="fa-brands fa-twitter fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/romina-figueroa-6b8504118/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
          </ul></div></nav>

<div class="container" *ngIf="perso">
    <div class="row mt-5">
        
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="perso">
                    <div class="row">
                      <div>
                      
                                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                  <div class="form-group">
                                    <label for="titulo"><h4>Modificar "titulo"</h4></label>
                                    <input type="text" class="form-control mt-3 " id="titulo" name="titulo" [(ngModel)]="perso.titulo" required>
                                  </div>        
                                  <div class="form-group">
                                    <label for="nombre"><h4>Modificar "Persona"</h4></label>
                                    <input type="text" class="form-control mt-3 " id="nombre" name="nombre" [(ngModel)]="perso.nombre" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="descripcion"><h5>Modificar "Descripcion"</h5></label>
                                    <input type="text" class="form-control form-control-lg mt-3" id="descripcion" name="descripcion" [(ngModel)]="perso.descripcion" required>
                                  </div>
                                  <button class="btn btn-secondary mt-5">
                                    Actualizar 
                                  </button>
                        </form>
                      </div>
                    </div>
            </form>
        </div>
    </div>
</div>


            