
<!--PROYECTOS-->
<section>
    <h2 class="text-center mt-5">PROYECTOS
      
      <!--boton modifica proyectos-->
      <button type="button" class="btn btn-close-black" data-bs-toggle="modal" data-bs-target="#img-proy"><i class="fa-solid fa-plus"></i>
      </button> </h2>
      <div class="modal fade" id="img-proy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content ">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="img-proy">Seleccione un archivo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input class="form-control" type="file" id="img-proy">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Agregar</button>
            </div>
          </div>
        </div>
      </div>
   
    <!--fin boton-->
   
    <div class="card-body mt-5">
      <div align="center"><img src="./../../assets/img/proyecto1.png" class="card-img-top" alt=""></div>
      <div class="card-body ">
        <h5 class="card-title text-white text-center">Muebles para el hogar</h5>
        <p class="card-text"></p>
        <div align="center"><a href="https://corfam.com/sillones/" class="btn btn-primary">Ir</a></div>
      </div>
    </div>
      <br><div class="card2" >
        <div align="center"><img src="./../../assets/img/proyecto2.png" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title text-white text-center">Traductor</h5>
          <p class="card-text"></p>
          <div align="center"><a href="https://www.ingles.com/traductor" class="btn btn-primary">Ir</a></div>
        </div>
     
      </div>
      </section>