<section>
  <div class="container text-center mt-5">
    <h3 style="text-decoration: underline; font-weight: bold;">Proyecto</h3>
  </div>
  <!--fin boton-->
  <div class="card-body mt-5">
    <div class="text-center">
      <img src="./../../assets/img/proyecto.jpeg" class="card-img-top" alt="">
    </div>
    <div class="card-body">
      <h5 class="card-title text-white text-center">Mi primer proyecto</h5>
      <p class="card-text"></p>
      <div class="text-center">
        <a href="https://miportfoliorf.firebaseapp.com/" class="btn btn-primary">Ir</a>
      </div>
    </div>
  </div>
</section>