

<!--navbar-->

<nav class="navbar navbar-expand-lg bg-violet">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
            <img src="./../../assets/img/argprog.png" alt="logo" class="w-150">
          </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.facebook.com/romina.figueroa.311/" target="_blank"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://twitter.com/romif1986" target="_blank"><i class="fa-brands fa-twitter fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/romina-figueroa-6b8504118/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
            <li class="list-group-item"> 
                <a href="/login" ><i class="fa-solid fa-user-lock fa-2x text-white" *ngIf="!isLogged"></i></a>
                <a href="/onLogOut" ><i class="fa-solid fa-user fa-2x text-white" *ngIf="isLogged"></i></a>
            </li>
       </ul>
 </div>
</nav>

  
   <!--FORMULARIO DE LOGIN-->
   <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8 formulario-login" >
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <div class="form-outline form-white mb-4">
              <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                [(ngModel)]="nombreUsuario" required />
              <label class="form-label" for="nombreUsuario">Usuario</label>
            </div>

            <div class="form-outline form-white mb-4">
              <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
                required />
              <label class="form-label" for="password">Password</label>
            </div>


            <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

         
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" >Ingresar</button>
          </div>
          <small>Primer ingreso? <a href="/registro">Registrarse</a></small>
            </form>
      <div class="col-2">  
      </div>
    </div>
  </div>