<!--SECCION BANNER-->
<section class="banner">
    <!--boton modificar imagen banner-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
     <button type="button"  class="btn btn-close-white" data-bs-toggle="modal" data-bs-target="#banner">
      <i class="fa-solid fa-pencil"></i>
     </button></div>
     <div class="modal fade" id="banner" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h1 class="banner-title fs-5" id="banner">Seleccione un nuevo Banner</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <input class="form-control" type="file" id="banner">
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
             <button type="button" class="btn btn-primary">Agregar</button>
           </div>
         </div>
       </div>
     </div>
     <!--Fin de boton modificar imagen banner-->
      <!--Titulo personal banner-->
      <h1 class="text-white text-center intro ">Bienvenido a mi Portfolio<br> Romina Figueroa </h1>          
      <h2 class="text-white text-center intro">Desarrollador Full Stack Jr. 
        <!--boton modifica descripcion de banner-->
        <button type="button"  class="btn btn-close-white" data-bs-toggle="modal" data-bs-target="#boton-desc"><i class="fa-solid fa-pencil"></i>
        </button> </h2>  
          <div class="modal fade" id="boton-desc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-black" id="boton-desc">Descripción</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <textarea class="form-control" placeholder="" id="boton-desc" style="height:100px;"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Modificar</button>
                </div>
              </div>
            </div>
          </div>      
           
        <!--fin de boton-->     
</section>
