<section class="presentacion">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <img src="./../../assets/img/perfil 2.JPG" alt="foto perfil" class="rounded-circle">
      </div>
      <div class="col-lg-9 col-md-8 col-sm-12 mt-3">
        <h3 style="text-decoration: underline; font-weight: bold;">Acerca de mí</h3>
        <div class="row mt-5">
          <div class="col-12">
            <div *ngFor="let Presentacion of pre">
              <h5>{{Presentacion.descripcion}}</h5>
              <div class="btn-container">
                <button class="btn btn-close-black" routerLink="/editpre/{{Presentacion.id}}" *ngIf="isLogged">
                  <i class="fa-solid fa-pencil"></i>
                </button>
                <button class="btn btn-close-black" (click)="delete(Presentacion.id)" *ngIf="isLogged">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>