<div class="row">
  <div class="col-1">
    <nav class="vertical" id="list-tab" role="tablist">
      <ul>
        <li class="vertical">
          <a class="list-group-item list-group-item-action active" id="list-redes-list" data-bs-toggle="list"
            href="#list-redes" role="tab" aria-controls="list-redes">
            <i class="fa fa-share-alt"></i></a>
          </li>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.facebook.com/romina.figueroa.311/" target="_blank"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
    <li class="list-group-item"><a href="https://twitter.com/romif1986" target="_blank"><i class="fa-brands fa-twitter fa-2x text-white"></i></a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/romina-figueroa-6b8504118/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
    <li class="list-group-item"><a routerLink="/login" ><i class="fa-solid fa-user-lock fa-2x text-white"></i></a>
    </li>
  </ul>
      </ul>
    </nav>
  </div>
</div>
