<nav class="navbar navbar-expand-lg bg-violet">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
            <img src="./../../assets/img/argprog.png" alt="logo" class="w-150">
          </a>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.facebook.com/romina.figueroa.311/" target="_blank"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://twitter.com/romif1986" target="_blank"><i class="fa-brands fa-twitter fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/romina-figueroa-6b8504118/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
          </ul></div></nav>

<div class="container" *ngIf="expLab">
    <div class="row mt-5">
        
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE"><h4>Modificar "Nombre de la empresa"</h4></label>
                    <input type="text" class="form-control mt-3 " id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required>
               
                </div>
                <div class="form-group">
                    <label for="descripcionE"><h5>Modificar "Descripcion"</h5></label>
                    <input type="text" class="form-control form-control-lg mt-3" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required>
                </div>
                <button class="btn btn-secondary mt-5">
                    Actualizar 
                </button>
            </form>
        </div>
    </div>
</div>
            