<section class="experiencia mt-5">
  <div class="container text-center mt-5">
    <div class="row mt-5">
      <div>
        <h3 style="text-decoration: underline; font-weight: bold;">Experiencia laboral</h3>
        <button type="button" class="btn btn-close-black mt-3" routerLink="/nuevaexp" *ngIf="isLogged">
          <h5>+ Agregar</h5>
        </button>
        <div class="d-flex align-items-center">
          <div class="col-3">
            <img src="./../../assets/img/imagen 2.jfif" alt="foto-exp" class="mt-5" style="max-width: 100%;">
          </div>
          <div class="col-9 mt-5">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngFor="let Experiencia of expe">
                    <td>
                      <div class="mt-5">
                        <h4>{{Experiencia.nombreE}}</h4>
                      </div>
                    </td>
                    <td>
                      <div class="mt-5">
                        <h6>{{Experiencia.descripcionE}}</h6>
                      </div>
                    </td>
                    <td *ngIf="isLogged">
                      <button class="btn btn-close-black mt-5" routerLink="/editexp/{{Experiencia.id}}">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                    </td>
                    <td *ngIf="isLogged">
                      <button class="btn btn-close-black mt-5" (click)="delete(Experiencia.id)">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>