<!--SECCION EXPERIENCIA LABORAL-->
<section class="experiencia mt-5">
    <div class="container text-center">
      <div class="row">
        <div class="col-8">
            <br><br><br><h4 class="mt-2" text-black>EXPERIENCIA LABORAL:</h4>              
            <br><h5> Empleada en Ecos Diarios S.A.E.C.I. S.A. Administrativa (Tesorera).
            <br>Manejo de cajas. Pago a proveedores. Facturación.<br> Transacciones
            bancarias. 
            <br><br>Empleada en ANAFER S.A. Administración, atención al cliente,<br> facturación, control de cajas.
            <!--boton modificar experiencia-->
            <button type="button" class="btn btn-close-black" data-bs-toggle="modal" data-bs-target="#boton-exp"><i class="fa-solid fa-pencil"></i>
            </button>
              <div class="modal fade" id="boton-exp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="boton-exp">Experiencia Laboral</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <textarea class="form-control" placeholder="" id="boton-exp" style="height:100px;"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-warning">Modificar</button>
                      <button type="button" class="btn btn-success">Agregar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--fin boton-->
          </h5>
        </div>
        <div class="col-2 ">
          <br><br><img src="./../../assets/img/imagen 2.jfif" alt="foto-exp" class="mt-5" >
          <!--boton modifica imagen de experiencia laboral-->
          <div align="end"><button type="button" class="btn btn-close-black" data-bs-toggle="modal" data-bs-target="#foto-exp"><i class="fa-solid fa-pencil"></i>
          </button></div>
          <div class="modal fade" id="foto-exp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="foto-exp">Seleccione una nueva Imagen</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input class="form-control" type="file" id="foto-exp">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Agregar</button>
                </div>
              </div>
            </div>
          </div>
          <!--fin boton-->
    
        </div>
      </div>
    </div>
  </section>
