.bg-violet{
    background-color:rgb(39, 1, 39);
}
.list-group{
    --bs-list-group-bg:transparent;
}

i.fa-solid.fa-user-lock.fa-2x.text-white:hover{
    background-color:rgb(223, 137, 234) ;
}

.perfil{
    width: 70%;

}
.admin{
    font-size: 1.2rem;
}
.link{
    text-decoration: none;
    color: black;
    
}
li.vertical {
    display: block;
    margin: 0;
    writing-mode: vertical;
    padding: 0.75rem 0;
      font-size: 1.25rem;
       }
nav.vertical{
    float: left;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
}
a, a:hover{
    text-decoration: none;
    color: rgb(39, 1, 39);
}
.last{
	padding-bottom: 4rem;
}
